*{
    margin:0 auto;
    font-family: 'Ubuntu', sans-serif;
}
body{
    background:silver;
}
.container{
    width:300px;
    height: 450px;
    background:silver;
    border: outset;
    display:flex;
    flex-direction:column;
    padding:1%;
    /* justify-content: center; */
    align-items: center;
    margin-top:70px;

}
#profile-image{
    width:100px;
    height:100px;
    border-radius:100%;
    border: 2px solid rgb(255, 163, 163);
    transition: all 0.5s ease-in-out;
}
#profile-image:hover{
    width:120px;
    height:120px;
}
.item{
    /* background:grey; */
    padding:1%;
    margin-top:15px;

}
#name{
    font-weight: bold;
    color:rgb(255, 20, 20);
}
#title{
    font-size:20px;
}
#btn{
    width:150px;
    height:40px;
    font-size:20px;
    border-style:none;
    border-radius:20px;
    font-weight: bold;
    color:rgb(255, 255, 255);
    transition: width 0.5s ease-in-out;
    background-image: linear-gradient(rgb(255, 110, 110), rgb(247, 34, 34));
}
#btn:hover{
    cursor:pointer;
    /* width:220px; */
    color:rgb(0, 0, 0);
    background-image: linear-gradient(rgb(253, 84, 84), rgb(231, 21, 21));
}
.social{
    /* background:white; */
    width:300px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    flex-wrap: wrap;
}
#item-role{
    /* background:yellow; */
    /* width:200px; */
    height:40px;
    text-align:center;

}

.social .link{
    background:rgb(34, 109, 247);
    width:40px;
    height:40px;
    font-size:40px;
    color:white;
    text-align:center;
    border-radius:8px;
    
}
.link:hover{
    color:rgb(94, 158, 255);
    background:white;
}